.page-container {
  display: flex;
  padding: 20px;
}

.textContainer {
  width: 30%; /* Ocupa el 35% del ancho de la pantalla */
  align-self: flex-start; /* Alinea el texto en la parte superior izquierda */
}

.videoContainerProyect {
  width: 30%; /* Ocupa el 40% del ancho de la pantalla */
  align-self: flex-start; /* Alinea el video en la parte superior derecha */
}

.espacio-de-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Ajuste automático de columnas */
    gap: 20px;
    padding: 35px;
    justify-content: center;
}

h5{
  font-family: "Advent Pro", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 26px;
  font-variation-settings:
    "wdth" 100;
}
