body {
  margin: 0;
    background: linear-gradient(to bottom, #d6a8ce, #f57fe7 ); 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.link-router{
  text-decoration: none;
  color: azure;
}

.paginacion a {
  text-decoration: none;
}